.moist-modal-btn{
  position:fixed;
  left:110px;
  top:10px;
}
.moist-old-dads{
  background:#222;
  width:100px;
  height: 100vh;
  left:0;
  position:fixed;
  overflow-y:scroll;
  img{
    width:100%;
  }
  a{
    opacity:.75;
    transition:.1s ease all;
    &:hover{
      opacity:1;
    }
  }
}
.moist-bg{
  outline:none;
  height:100vh;
  width:calc(100vw - 100px);
  background-size:contain;
  background-color:#000;
  background-repeat:no-repeat;
  background-position: center center;
  position:fixed;
  right:0;
}
